@model NoleggioViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Noleggia questo videogame</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IdVideogioco" class="control-label"></label>
                <input asp-for="IdVideogioco" class="form-control" readonly />
                <input type="hidden" asp-for="IdVideogioco" />
            </div>
                    <div class="form-group">
                        <label for="TitoloVideogioco" class="control-label">Titolo Videogioco</label>
                        <input id="TitoloVideogioco" class="form-control" value="@ViewBag.Titolo" readonly />
                    </div>


            <div class="form-group">
                <label asp-for="IdUtenteNoleggiante" class="control-label"></label>
                <input asp-for="IdUtenteNoleggiante" class="form-control" readonly />
                <input type="hidden" asp-for="IdUtenteNoleggiante" />
                <span asp-validation-for="IdUtenteNoleggiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInizio" class="control-label"></label>
                <input asp-for="DataInizio" class="form-control" readonly />
                <input type="hidden" asp-for="DataInizio" />
                <span asp-validation-for="DataInizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFine" class="control-label"></label>
                <input asp-for="DataFine" class="form-control" readonly />
                <input type="hidden" asp-for="DataFine" />
                <span asp-validation-for="DataFine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndirizzoSpedizione" class="control-label"></label>
                <input asp-for="IndirizzoSpedizione" class="form-control" />
                <span asp-validation-for="IndirizzoSpedizione" class="text-danger"></span>
            </div>
<div class="form-group">
    <label asp-for="CostoNoleggio" class="control-label"></label>
    <div class="card">
        <div class="card-body">
            <p class="card-text">@Model.CostoNoleggio.ToString("F2") €</p>
        </div>
    </div>
    <input asp-for="CostoNoleggio" type="hidden" id="CostoNoleggio" />
</div>
<div class="form-group">
    <label asp-for="SpeseSpedizione" class="control-label"></label>
    <div class="card">
        <div class="card-body">
            <p class="card-text">@Model.SpeseSpedizione.ToString("F2") €</p>
        </div>
    </div>
    <input asp-for="SpeseSpedizione" type="hidden" id="SpeseSpedizione" />
</div>
            <div class="form-group">
                <input type="submit" value="Noleggia" class="btn btn-primary" />
            </div>
        </form>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6 text-right">
        <a asp-action="Index" class="btn btn-back mt-3">Indietro</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
