@model Noleggio

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifica noleggio</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdNoleggio" />
            <div class="form-group">
                <label asp-for="IdVideogioco" class="control-label"></label>
                <select asp-for="IdVideogioco" class="form-control" asp-items="ViewBag.IdVideogioco"></select>
                <span asp-validation-for="IdVideogioco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUtenteNoleggiante" class="control-label"></label>
                <input asp-for="IdUtenteNoleggiante" class="form-control" />
                <span asp-validation-for="IdUtenteNoleggiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInizio" class="control-label"></label>
                <input asp-for="DataInizio" class="form-control" />
                <span asp-validation-for="DataInizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFine" class="control-label"></label>
                <input asp-for="DataFine" class="form-control" />
                <span asp-validation-for="DataFine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndirizzoSpedizione" class="control-label"></label>
                <input asp-for="IndirizzoSpedizione" class="form-control" />
                <span asp-validation-for="IndirizzoSpedizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoNoleggio" class="control-label"></label>
                <input asp-for="CostoNoleggio" class="form-control" /> €
                <span asp-validation-for="CostoNoleggio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeseSpedizione" class="control-label"></label>
                <input asp-for="SpeseSpedizione" class="form-control" /> €
                <span asp-validation-for="SpeseSpedizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StripePaymentId" class="control-label"></label>
                <input asp-for="StripePaymentId" class="form-control" />
                <span asp-validation-for="StripePaymentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Indietro</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
