:root {
    --bs-turchese: #6FE5D9;
    --bs-rosa: #F6A7D6;
    --bs-viola: #B886F7;
    --bs-primary: var(--bs-rosa);
    --bs-secondary: #6c757d;
    --bs-dark: #343a40;
    --bs-light: var(--bs-turchese);
    --bs-info: var(--bs-viola);
    --bs-body-bg: var(--bs-viola);
    --bs-card-bg: #4DD0C8; /* gradiente più scuro del turchese */
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background: linear-gradient(to right, var(--bs-viola), var(--bs-rosa));
    margin-bottom: 60px;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--bs-primary);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: dimgray;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev {
    margin-left: -5%;
}

.carousel-control-next {
    margin-right: -5%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(105,105,105, 0.8); 
    transition: background-color 0.4s ease-in-out;
}


.navbar {
    background-color: var(--bs-primary);
}

.btn {
    background: linear-gradient(to right, var(--bs-rosa), var(--bs-turchese)) !important;
    border: none !important;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

    .btn:hover {
        background: linear-gradient(to left, var(--bs-rosa), var(--bs-turchese)) !important;
        transform: scale(1.05);
        z-index: 1;
    }


.card {
    background: linear-gradient(to right, var(--bs-turchese), var(--bs-viola)) !important;
    transition: background 0.3s ease-in-out, transform 0.4s ease-in-out;
}


    .card:hover {
        transform: scale(1.05);
        z-index: 1;
    }

.card, .btn, .navbar {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.navbar.navbar-light {
    background-color: var(--bs-primary) !important;
    border: none; 
}

.navbar-light .navbar-nav .nav-link, .dropdown-menu, .form-control {
    color: var(--bs-light) !important;
}

    .navbar-light .navbar-nav .nav-link:hover, .dropdown-menu, .form-control {
        color: var(--bs-dark) !important;
    }
}

.form-control {
    border: none;
}