:root {
    --bs-turchese: #6FE5D9;
    --bs-viola: #B886F7;
    --bs-primary: var(--bs-turchese);
    --bs-dark: #343a40;
    --bs-light: white;
    --bs-body-bg: var(--bs-viola);
    --bs-rosa: #F6A7D6;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: var(--bs-body-bg);
    /*    margin-bottom: 60px;*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    flex: 1;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--bs-primary);
}

.carousel {
    margin-bottom: 0;
}

    .carousel .card {
        margin: 0 10px;
    }


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: dimgray;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(105,105,105, 0.8);
    transition: background-color 0.4s ease-in-out;
}


.navbar {
    background-color: var(--bs-primary);
}

.btn {
    background-color: var(--bs-rosa) !important;
    border: none !important;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

    .btn:hover {
        background-color: var(--bs-viola) !important;
        transform: scale(1.05);
        z-index: 1;
    }


.card {
    background-color: var(--bs-primary) !important;
    transition: background 0.3s ease-in-out, transform 0.4s ease-in-out;
}


    .card:hover {
        transform: scale(1.05);
        z-index: 1;
    }

.card, .btn, .navbar {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}


    .navbar.navbar-light {
        background-color: var(--bs-primary) !important;
    }

.dropdown-menu {
    background-color: var(--bs-viola-scuro) !important;
}

.form-control {
    border: none;
}

.navbar-brand:hover {
    transform: scale(1.05);
    z-index: 1;
}

input, select {
    color: black !important;
}


.dropdown-menu {
    padding: 15px;
}

.dropdown-item {
    color: black;
}
