:root {
    --bs-turchese: #6FE5D9;
    --bs-viola: #B886F7;
    --bs-primary: var(--bs-turchese);
    --bs-dark: #343a40;
    --bs-light: white;
    --bs-body-bg: var(--bs-viola);
    --bs-rosa: #F6A7D6;
    --bs-turchese-scuro: #5cb8b2;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: var(--bs-body-bg);
    font-family: 'Courier New', monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Minecraft', monospace;
    margin-block: 1.5rem;
    text-align: center;
}

h1, h2 {
    color: black;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

main {
    flex: 1;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--bs-primary);
}

.carousel {
    margin-bottom: 0;
}

    .carousel .card {
        margin: 0 10px;
    }


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: dimgray;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(105,105,105, 0.8);
    transition: background-color 0.4s ease-in-out;
}


.navbar {
    background-color: var(--bs-primary);
}

.btn {
    background-color: var(--bs-rosa) !important;
    border: none !important;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin: 0.5rem;
}

    .btn:hover {
        background-color: var(--bs-viola) !important;
        transform: scale(1.05);
        z-index: 1;
    }


.card {
    background-color: var(--bs-primary) !important;
    transition: background 0.3s ease-in-out, transform 0.4s ease-in-out;
    padding-inline: 0.5rem;
    padding-bottom: 0.5rem;
}


    .card:hover {
        transform: scale(1.05);
        z-index: 1;
    }

.card, .btn, .navbar {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important; 
}


    .navbar.navbar-light {
        background-color: var(--bs-primary) !important;
    }

.form-control {
    border: none;
}

.navbar-brand:hover {
    transform: scale(1.05);
    z-index: 1;
}

input, select {
    color: black !important;
}


.dropdown-menu {
    padding: 15px;
}

.dropdown-item {
    color: black;
}

/* Cambia il colore del testo del dropdown menu a bianco */
    .nav-item.dropdown .dropdown-toggle {
    color: white !important;
}

/* Cambia il colore di sfondo del dropdown menu a un viola più scuro */
.dropdown-menu {
    background-color: #5d4b7a !important;
    padding: 15px;
}

/* Cambia il colore del testo degli elementi del dropdown menu a bianco */
.dropdown-item {
    color: white !important;
}

.nav-link.dropdown-toggle {
    color: white !important;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

/* Cambia il colore di sfondo dell'elemento del dropdown quando ci passi sopra */
.dropdown-item:hover {
    background-color: #746d85 !important;
}

/* Cambia il colore di sfondo dell'elemento attivo nel dropdown */
.dropdown-item.active {
    background-color: #746d85 !important;
}