@model Nostalgame.Models.ChangeUsernamePasswordViewModel

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>Cambia Username e Password</h2>
                </div>
                <div class="card-body">
                    <form asp-action="ChangeUsernamePassword">
                        <div class="form-group">
                            <label asp-for="CurrentUsername"></label>
                            <input class="form-control" asp-for="CurrentUsername" readonly />
                        </div>

                        <input type="hidden" asp-for="IdRegistrazione" />

                        <div class="form-group">
                            <label asp-for="NewUsername"></label>
                            <input class="form-control" asp-for="NewUsername" />
                            <span asp-validation-for="NewUsername" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="CurrentPassword"></label>
                            <input type="password" class="form-control" asp-for="CurrentPassword" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <input type="password" class="form-control" asp-for="NewPassword" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input type="password" class="form-control" asp-for="ConfirmPassword" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-save">Salva</button>
                        <div>
                            <a class="btn btn-back" asp-action="Details" asp-route-id="@ViewBag.IdRegistrazione">Indietro</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
