@model Nostalgame.Models.RegistrazioneViewModel

<div class="container">

    <h2 class="text-center my-4">Registrazione</h2>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form method="post">
    <div class="form-group">
        <label for="UserName">Username</label>
        <input type="text" class="form-control" id="UserName" asp-for="UserName" required />
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" asp-for="Password" required />
    </div>

    <h3>Dettagli Registrazione</h3>
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" class="form-control" id="Nome" asp-for="Registrazione.Nome" required />
    </div>
    <div class="form-group">
        <label for="Cognome">Cognome</label>
        <input type="text" class="form-control" id="Cognome" asp-for="Registrazione.Cognome" required />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" asp-for="Registrazione.Email" required />
    </div>
    <div class="form-group">
        <label for="Indirizzo">Indirizzo</label>
        <input type="text" class="form-control" id="Indirizzo" asp-for="Registrazione.Indirizzo" required />
    </div>
    <div class="form-group">
        <label for="Citta">Città</label>
        <input type="text" class="form-control" id="Citta" asp-for="Registrazione.Citta" required />
        </div>

                <h3>Scegli il tuo abbonamento</h3>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                            Scegliere l'abbonamento giusto è fondamentale per un'esperienza di gioco ottimale. Offriamo due tipi di abbonamenti:
                            <ul>
                                <li><strong>Standard:</strong> Con un costo di noleggio di soli 5€ per gioco e una tariffa di spedizione fissa di 3€, l'abbonamento Standard è perfetto per i giocatori occasionali.</li>
                                <li><strong>Premium:</strong> Per i veri appassionati di giochi, l'abbonamento Premium offre spedizioni gratuite e un costo di noleggio di soli 5€ per gioco. Gioca quanto vuoi senza preoccuparti dei costi di spedizione!</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="IdAbbonamento">Tipo Abbonamento</label>
                    <select class="form-control" id="IdAbbonamento" asp-for="Registrazione.IdAbbonamento" asp-items="ViewBag.IdAbbonamento"></select>
                </div>

                <button type="submit" class="btn btn-rent w-100 mt-3">Registrati</button>
            </form>
        </div>
    </div>
</div>
