@model Nostalgame.Models.RegistrazioneEditViewModel

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                
                <div class="card-body">
                    <h4>Stai per effettuare l'upgrade al piano Premium</h4>
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="IdRegistrazione" />
                        <input type="hidden" asp-for="IdAbbonamento"/>
                        <div class="form-group">
                            <input type="submit" value="Effettua l'upgrade adesso" class="btn btn-return" />
                        </div>
                    </form>
                    <div>
                        <a class="btn btn-back" asp-action="Details" asp-route-id="@Model.IdRegistrazione">Indietro</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
