@{
    ViewData["Title"] = "Quiz Avatar";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto al Quiz Avatar!</h1>
    <p class="lead">Scopri quale avatar fa per te completando il nostro quiz.</p>
    <a href="@Url.Action("Submit", "Quiz")" class="btn btn-primary btn-lg">Inizia il Quiz</a>
</div>
