@model Nostalgame.Models.Genere

@{
    ViewData["Title"] = "Delete";
}

<h1>Elimina genere</h1>

<h3>Siami sicuri di voler eliminare questo genere?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdGenere" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index">Indietro</a>
    </form>
</div>
