@model Nostalgame.Models.Genere

@{
    ViewData["Title"] = "Details";
}

<h1>Dettagli genere</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdGenere">Modifica</a> |
    <a asp-action="Index">Indietro</a>
</div>
