@model Nostalgame.Models.AbbonamentoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PagamentoAbbonamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="payment-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdAbbonamento" class="control-label"></label>
                <input asp-for="IdAbbonamento" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="IdUtente" class="control-label"></label>
                <input asp-for="IdUtente" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="DataPagamento" class="control-label"></label>
                <input asp-for="DataPagamento" class="form-control" id="DataPagamento" />
                <span asp-validation-for="DataPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImportoPagato" class="control-label"></label>
                <input asp-for="ImportoPagato" class="form-control" id="ImportoPagato" readonly />
                <span asp-validation-for="ImportoPagato" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="card-element">
                    Carta di credito o debito
                </label>
                <div id="card-element">
                    <!-- Un elemento Stripe per l'input della carta sarà inserito qui. -->
                </div>

                <!-- Usato per visualizzare gli errori dell'elemento carta. -->
                <div id="card-errors" role="alert"></div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://js.stripe.com/v3/"></script>
    <script src="~/js/pagamento.js"></script>
}
